html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
    color: rgb(49, 49, 49);
    transition: background-color 0.5s ease;    
}

body.dark-mode{
    background-color: rgb(34, 34, 34);
    color: #f4f4f4;
}

.container{
    width: 100%;
    height: 100vh;
}

.first-page{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

.navbar{
    position: fixed;
    top: 50px;
    height: 1rem;
    width: 35vw;
    display: flex;
    padding: 1.25rem;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    transition: backdrop-filter 0.3s, background 0.3s;
    border-radius: 30px;
}

body.dark-mode .navigation{
    color: #f4f4f4;
}

.navbar.scrolled{
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}

body.dark-mode .navbar.scrolled{
    background: rgba(34, 34, 34, 0.3);
}

select#bg-option{
    font-weight: 600;
    font-size: 15px;
    width: 100px;
    height: 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: rgb(49, 49, 49);
}

body.dark-mode select#bg-option{
    color: #f4f4f4;
}

.navigation{
    color: rgb(49, 49, 49);
    text-decoration: none;
    font-weight: 600;
}

select#bg-option option{
    color: rgb(49, 49, 49);
    font-size: 15px;
    border: none;
    background-color: transparent;
    font-weight: 600;
}

.toogle-dm{
    color: rgb(49, 49, 49);
    font-size: 15px;
    width: 100px;
    height: 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: 600;
}

body.dark-mode .toogle-dm{
    color: #f4f4f4;
}

.left-content{
    padding: 3% 7% 3% 7%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-icon {
    font-size: 35px;
    margin: 0;
}

.opening-text{
    width: 500px;
    font-size: 50px;
}

.opening-text span{
    color: #ff4c60;
}

.contact a{
    text-decoration: none;
    color: black;
    margin-right: 50px;
    transition: all 0.5s ease;
}

body.dark-mode .contact a{
    color: #f4f4f4;
}

.contact a:hover{
    color: #ff4c60;
}

.right-content{
    height: 100%;
    overflow: hidden;
}

.right-content img{
    width: 50rem;
}

/* SECOND PAGE */

.second-page{
    display: flex;
    justify-content: space-between;
    padding: 3% 7% 0% 7%;
    min-height: 94%;
}

.left-profile img{
    width: 30rem;
}

.pronounce{
    width: 60rem;
}

.hi{
    font-size: 60px;
}

.paragraph{
    font-size: 25px;
    line-height: 1.70;
}

.paragraph a{
    color: #ff4c60;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

/* THIRD PAGE */

.third-page{
    display: flex;
    justify-content: end;
    padding: 0 7% 0 7%;
}

.left-content-third{
    align-items: end;
    display: flex;
    flex-direction: column;
}

.left-content-third p{
    font-size: 25px;
    font-weight: 700;
    margin-right: 10rem;
    letter-spacing: 1px;
    gap: 50px;
}

.services-paragraph{
    /* line-height: 1.5; */
}

.services-paragraph p{
    font-size: 25px;
    width: 60rem;
}

.services-paragraph p span{
    color: #ff4c60;
}

.experience{
    line-height: 0.75;
}

/* FOURTH PAGE */

.fourth-page{
    display: flex;
    justify-content: end;
    padding: 0 7% 3% 7%;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7% 3% 7%;
    font-size: 20px;
}

.footer-contact{
    display: flex;
    gap: 20px;
}

.footer-contact a{
    text-decoration: none;
    color: rgb(49, 49, 49);
}

body.dark-mode .footer-contact a{
    color: #f4f4f4;
}

/* MOBILE */

@media (max-width: 768px){
    .container{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .first-page{
        background-color: red;
        height: 100%;
    }
    .text-icon{
        font-size: 25px;
    }
    .opening-text{
        width: 100%;
        font-size: 30px;
    }
    .right-content img{
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
    }
}